body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
}

section {
  padding: 1ex;
}

.symbol {
  font-family: Symbola;
}

.ssb-post img,
.ssb-issue img {
  max-width: 100%;
  max-height: 500px;
}

.ssb-post blockquote {
  border-left: 4px #e0e0e0 solid;
  color: #444;
  background-color: #f9f9f9;
  padding: .2rem .2rem .2rem 1rem;
  margin: .5rem 0;
}

.ssb-post-text pre, .ssb-post-text pre * {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

img.ssb-emoji {
  height: 1em;
  width: auto;
  border: none;
}

.nav-bar {
  background-color: #039;
  padding-left: 1em;
}

.nav-bar a {
  color: #ed0;
}

.search-input {
  color: #efd;
  background-color: transparent;
  border: 1px solid black;
  font-size: inherit;
  width: 24ex;
}

footer {
  font-size: smaller;
  text-align: center;
  color: #999;
  padding: 1ex;
}

.ssb-avatar-image {
  width: 4em;
  max-height: 4em;
  vertical-align: top;
}

.ssb-feed .ssb-avatar-image,
.ssb-main .ssb-avatar-image {
  width: 4em;
  max-height: 8em;
}

h3.feed-name {
  padding: 0;
  margin: 0;
}

.recps-input {
  width: 100%;
}

textarea {
  font: inherit;
  width: 100%;
}

pre {
  white-space: pre-wrap;
}

.ssb-id {
  font-size: .7em;
  color: #777;
  text-decoration: none;
}

.ssb-timestamp {
  font-size: smaller;
}

.msg-header {
  margin-bottom: .25ex;
}

.recps {
  font-size: smaller;
}

.ssb-msgs {
  border-spacing: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.msg-left,
.msg-main,
.msg-right {
  border-top: 1px solid #ddd;
  padding: .5ex;
}

.msg-content {
  padding: 0 .5ex .5ex .5ex;
}

.composer-actions {
  text-align: right;
  padding: .2ex .5ex;
}

td {
  vertical-align: top;
}

.msg-right {
  text-align: right;
  padding: .2ex .5ex;
}

.feed-name {
  padding: .75ex;
}

.feed-about {
  padding-left: .75ex;
}

.msg-left .ssb-avatar-image {
  margin-left: .25em;
  background-color: #efd;
}

.msg-title {
  margin: 0;
  padding: 0;
}

.mentions li {
  list-style-type: none;
}

.id-input {
  width: 60ex;
}

table.ssb-object {
  border-collapse: collapse;
}

table.ssb-object td {
  border: 1px solid black;
}

.chess-square {
  width: 1em;
  height: 1em;
  text-align: center;
}

.chess-square-dark {
  background-color: #ccc;
}

.diff-old { background-color: #ffe2dd; }
.diff-new { background-color: #d1ffd6; }
